<ul class="list-unstyled">
  <% books.each do |book| %>
    <div class="d-flex flex-row">
      <li class="media mb-3">
        <%= image_tag book.image.url(:thumb50), class: "mr-2 rounded"%> 
        <div class="media-body">
          <div>
            <%= link_to book.title, book_path(book) %> <span class="text-muted">投稿日 <%= book.created_at %></span>
          </div>
          <div>
            <p class="my-0">comment： <%= book.comment %></p>
            <p class="mb-0">投稿者：<%= book.user.name %><span><%= image_tag book.user.image.url, :size =>'25x25' %></span></p>
          </div>
        </div>
      </li>
        <div class="ml-3 mr-1"><%= link_to "詳細", book_path(book), class: "btn btn-sm bg-secondary text-light" %></div>
        <div><%= render 'favorite/favorite_button', book: book %></div>
    </div>
  <% end %>
  <%= paginate books %>
</ul>
  
