<div class="row">
  <div class="col-sm-4">
    <%= image_tag @book.image.url, :width => 210, :height => 297 %>
  </div>
  <div class="col-sm-8">
    <div>
      <%= @book.title %>
      <%= @book.comment %>
      <%= @book.user.name %><span><%= image_tag @book.user.image.url(:thumb50) %></span>
    </div>
  </div>
</div>
